/*
max-width     prefix
576px  :      sm    
768px  :      md           
992px  :      lg
1200px :      xl 
1400px :      2xl  
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 62em) {
  html {
    font-size: 59.375%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 36em) {
  html {
    font-size: 53.125%;
  }
}

body {
  background: url("..//img/bg-stars.svg"), rgb(1, 14, 42);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  line-height: 1.7;
  counter-reset: item;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(255, 255, 255);
}

input,
textarea,
button {
  font-family: inherit;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 7rem;
}
@media (max-width: 75em) {
  .container {
    padding: 0 6rem;
  }
}
@media (max-width: 62em) {
  .container {
    padding: 0 4rem;
  }
}
@media (max-width: 48em) {
  .container {
    padding: 0 3rem;
  }
}

.section-padding {
  padding-top: 15rem;
}

.section-title {
  margin-bottom: 4.5rem;
}

.section-title h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3.8rem;
  letter-spacing: 1px;
  letter-spacing: 1px;
  background: rgb(255, 255, 255); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(29, 59, 123), rgb(255, 255, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% auto;
  -webkit-animation: gradient 3s linear infinite;
          animation: gradient 3s linear infinite;
}
@media (max-width: 36em) {
  .section-title h1 {
    font-size: 3.4rem;
  }
}

.section-subtitle {
  margin-bottom: 3rem;
}

.section-subtitle h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.2rem;
  letter-spacing: 1px;
}
@media (max-width: 36em) {
  .section-subtitle h2 {
    font-size: 3rem;
  }
}

.section-title p {
  font-weight: 500;
  font-size: 2rem;
  color: rgb(197, 196, 199);
}
@media (max-width: 36em) {
  .section-title p {
    font-size: 1.8rem;
  }
}

.section-title p b {
  color: rgb(255, 255, 255);
}

ul li.uppercase {
  text-transform: uppercase;
}

ul li.capitalize {
  text-transform: capitalize;
}

.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.311);
  background-color: rgb(1, 14, 42);
  height: 9rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  transition: top 0.4s ease, background-color 0.3s ease;
}
.nav__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  text-decoration: none;
  font-weight: 800;
  font-size: 3.2rem;
  color: rgb(255, 255, 255);
}
.nav__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 62em) {
  .nav__list {
    display: none;
  }
}
.nav__list li:not(:last-child) {
  margin-right: 5.5rem;
}
.nav__list a {
  text-decoration: none;
  color: rgb(197, 196, 199);
  text-transform: uppercase;
  transition: color 0.4s ease;
  font-weight: 600;
  font-size: 1.8rem;
  position: relative;
}
.nav__list a::before {
  margin-right: 0.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  counter-increment: item;
  content: "0" counter(item) ". ";
}
.nav__list a.active {
  color: rgb(255, 255, 255);
  font-weight: 700;
  position: relative;
}
.nav__list a.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  bottom: -5px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
.nav__list li:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__list a:hover {
  color: rgb(255, 255, 255);
}
.nav__list button {
  background-color: transparent;
  margin-left: 0.2rem;
  cursor: pointer;
  border: none;
  transition: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__list button svg {
  width: 2.8rem;
  height: 2.8rem;
}
.nav__list button.active svg path {
  fill: rgb(1, 14, 42);
}
.nav__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 4.5rem;
  height: 4rem;
  position: relative;
  z-index: 6;
  display: none;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease, border 0.4s ease 0.1s;
}
@media (max-width: 62em) {
  .nav__btn {
    display: flex;
  }
}
.nav__btn span {
  width: 94%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 2px;
}
.nav__btn span:first-child {
  transform: translateY(-10px);
}
.nav__btn span:nth-child(2) {
  width: 88%;
}
.nav__btn span:last-child {
  transform: translateY(10px);
}
.nav__btn.active {
  width: 4.5rem;
  height: 4.5rem;
  transform: rotate(90deg);
  border: 2px solid rgba(255, 255, 255, 0.311);
  border-radius: 50px;
}
.nav__btn.active span:nth-child(2) {
  display: none;
}
.nav__btn.active span:first-child, .nav__btn.active span:last-child {
  transform: translateY(0);
  width: 55%;
}
.nav__btn.active span:first-child {
  transform: rotate(45deg);
}
.nav__btn.active span:last-child {
  transform: rotate(-45deg);
}
.nav__mobile {
  position: fixed;
  height: 100vh;
  width: 40vw;
  top: 0;
  right: -40vw;
  background-color: rgba(1, 8, 25, 0.977);
  transition: right 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 48em) {
  .nav__mobile {
    width: 60vw;
    right: -60vw;
  }
}
@media (max-width: 36em) {
  .nav__mobile {
    width: 75vw;
    right: -75vw;
  }
}
.nav__mobile.active {
  right: 0;
}
.nav__mobile ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
.nav__mobile ul li:not(:last-child) {
  margin-bottom: 4rem;
}
.nav__mobile li:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__mobile button {
  background-color: transparent;
  margin-top: 4rem;
  cursor: pointer;
  border: none;
  transition: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__mobile button svg {
  width: 3.4rem;
  height: 3.4rem;
}
.nav__mobile button.active svg path {
  fill: rgb(1, 14, 42);
}
.nav__mobile ul a {
  text-decoration: none;
  color: rgb(197, 196, 199);
  text-transform: uppercase;
  transition: color 0.4s ease;
  font-weight: 700;
  font-size: 2rem;
  display: none;
}
.nav__mobile ul button {
  display: none;
}
.nav__mobile.active a, .nav__mobile.active ul button {
  display: unset;
}
.nav__mobile a.active {
  color: rgb(255, 255, 255);
  font-weight: 700;
  position: relative;
}
.nav__mobile a.active::after {
  position: absolute;
  content: "";
  width: 112%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  bottom: -4px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
.nav__mobile a:hover {
  color: rgb(255, 255, 255);
}
.nav__mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.535);
}
.nav__mobile-overlay.hidden {
  display: none;
}
.nav__logo, .nav__list a, .nav__mobile ul a, .nav__mobile ul button, .nav__btn, .nav__list button {
  outline: 2px dotted transparent;
  transition: all 0.2s ease;
  outline-offset: 0;
}
.nav__logo:focus-visible, .nav__list a:focus-visible, .nav__btn:focus-visible, .nav__mobile a:focus-visible, .nav__mobile button:focus-visible, .nav__list button:focus-visible {
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: 5px;
}

.footer {
  margin-top: 25rem;
  height: 9rem;
  background-color: rgb(4, 12, 30);
  letter-spacing: 1px;
}
@media (max-width: 36em) {
  .footer {
    height: unset;
  }
}
.footer-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 3.5rem;
}
@media (max-width: 36em) {
  .footer-container {
    flex-direction: column-reverse;
    padding: 4rem 0;
  }
}
.footer p {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.8rem;
}
.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.footer ul a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px dotted transparent;
  transition: all 0.2s ease;
  outline-offset: 0;
}
.footer ul a:focus-visible {
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: 5px;
}
.footer ul a svg {
  width: 2.7rem;
}
.footer ul li:not(:last-child) {
  margin-right: 3.8rem;
}
@media (max-width: 36em) {
  .footer ul li:not(:last-child) {
    margin-right: 5rem;
  }
}

.scroll-top-btn {
  background-color: rgb(255, 255, 255);
  border: none;
  position: fixed;
  cursor: pointer;
  right: -6rem;
  bottom: 6rem;
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: right 0.4s ease, outline-offset 0.2s ease;
}
.scroll-top-btn:focus-visible {
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: 5px;
}
.scroll-top-btn svg {
  width: 50%;
  height: 50%;
}
.scroll-top-btn.reveal {
  right: 3rem;
}

.hero {
  height: 60rem;
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 9rem;
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease 0.2s;
}
.hero.revealed {
  opacity: 1;
}
.hero__container {
  width: 70%;
}
@media (max-width: 62em) {
  .hero__container {
    width: 80%;
  }
}
@media (max-width: 48em) {
  .hero__container {
    width: 90%;
  }
}
@media (max-width: 36em) {
  .hero__container {
    width: 100%;
  }
}
.hero h1 {
  font-size: 4.2rem;
  font-weight: 800;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: rgb(255, 255, 255); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(29, 59, 123), rgb(255, 255, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% auto;
  -webkit-animation: gradient 3s linear infinite;
          animation: gradient 3s linear infinite;
}
@media (max-width: 36em) {
  .hero h1 {
    font-size: 4rem;
  }
}
.hero p {
  font-size: 2.2rem;
  font-weight: 500;
  color: rgb(197, 196, 199);
}
.hero a {
  display: flex;
  align-items: center;
  margin: 3.8rem auto 0 auto;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 0.8rem 2.8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 0.4s ease, padding 0.4s ease;
}
.hero a svg {
  width: 1.7rem;
}
.hero a svg path {
  fill: rgb(255, 255, 255);
  transition: all 0.4s ease;
}
.hero a:focus-visible {
  outline: none;
}
.hero a:hover,
.hero a:focus-visible {
  color: rgb(1, 14, 42);
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
.hero a:hover svg path,
.hero a:focus-visible svg path {
  fill: rgb(1, 14, 42);
}

.featured-projects {
  padding-top: 5rem;
}
.featured-projects-title {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
@media (max-width: 36em) {
  .featured-projects-title {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.featured-projects-title span {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.311);
  flex-shrink: 1;
}
.featured-projects h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: uppercase;
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
}
.featured-projects__card-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}
@media (max-width: 62em) {
  .featured-projects__card-container {
    grid-template-columns: 0.9fr;
  }
}
@media (max-width: 36em) {
  .featured-projects__card-container {
    grid-template-columns: 1fr;
  }
}
.featured-projects__card {
  border-radius: 20px;
  position: relative;
  height: 34rem;
  cursor: pointer;
  overflow: hidden;
  outline: 2px dotted transparent;
  outline-offset: 0;
  box-shadow: 0 14px 28px rgba(1, 5, 14, 0.229), 0 10px 10px rgba(1, 5, 14, 0.229);
  transition: outline-offset 0.2s ease;
  border: 1px solid rgba(255, 255, 255, 0.118);
}
@media (max-width: 36em) {
  .featured-projects__card {
    height: 32rem;
  }
}
.featured-projects__card:focus-visible {
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: 5px;
}
.featured-projects__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  transition: transform 0.5s ease;
  pointer-events: none;
}
.featured-projects__card:hover img, .featured-projects__card:focus-visible img {
  transform: scale(1.03);
}
@media (max-width: 62em) {
  .featured-projects__card:hover img, .featured-projects__card:focus-visible img {
    transform: scale(1);
  }
}
@media (max-width: 36em) {
  .featured-projects__card:hover img, .featured-projects__card:focus-visible img {
    transform: scale(1);
  }
}
@media (max-width: 62em) {
  .featured-projects__card img {
    transform: scale(1);
  }
}
@media (max-width: 36em) {
  .featured-projects__card img {
    transform: scale(1);
  }
}
.featured-projects__card > div {
  background: linear-gradient(rgba(1, 14, 42, 0.092) 10%, rgba(1, 14, 42, 0.768) 80%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease;
  pointer-events: none;
}
.featured-projects__card:hover > div, .featured-projects__card:focus-visible > div {
  opacity: 1;
}
@media (max-width: 62em) {
  .featured-projects__card > div.featured-projects__card-info, .featured-projects__card:focus-visible > div.featured-projects__card-info {
    opacity: 1;
  }
}
@media (max-width: 36em) {
  .featured-projects__card > div.featured-projects__card-info, .featured-projects__card:focus-visible > div.featured-projects__card-info {
    opacity: 1;
  }
}
.featured-projects__card-info {
  padding: 3rem;
  color: rgb(255, 255, 255);
}
@media (max-width: 36em) {
  .featured-projects__card-info {
    padding: 2rem;
  }
}
.featured-projects__card-info span.top-text {
  text-align: center;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
  transform: translateY(-3rem);
  transition: all 0.4s ease;
  color: rgb(20, 39, 80);
}
@media (max-width: 36em) {
  .featured-projects__card-info span.top-text {
    transform: translateY(-2rem);
    opacity: 0;
  }
}
.featured-projects__card:hover .featured-projects__card-info span.top-text, .featured-projects__card:focus-visible .featured-projects__card-info span.top-text {
  transform: translateY(0);
}
@media (max-width: 62em) {
  .featured-projects__card .featured-projects__card-info span.top-text {
    transform: translateY(0);
  }
}
@media (max-width: 36em) {
  .featured-projects__card .featured-projects__card-info span.top-text {
    transform: translateY(0);
  }
}
.featured-projects__card-info span::first-letter {
  text-transform: uppercase;
}
.featured-projects__card-info > div {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  transform: translateY(2.5rem);
  transition: all 0.4s ease;
  opacity: 0;
}
@media (max-width: 36em) {
  .featured-projects__card-info > div {
    bottom: 2rem;
    left: 2rem;
  }
}
.featured-projects__card:hover .featured-projects__card-info > div, .featured-projects__card:focus-visible .featured-projects__card-info > div {
  transform: translateY(0);
  opacity: 1;
}
@media (max-width: 62em) {
  .featured-projects__card .featured-projects__card-info > div {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 36em) {
  .featured-projects__card .featured-projects__card-info > div {
    transform: translateY(0);
    opacity: 1;
  }
}
.featured-projects__card-info h3 {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.2;
}
@media (max-width: 36em) {
  .featured-projects__card-info h3 {
    font-size: 2rem;
  }
}
.featured-projects__card-info span.label {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgb(197, 196, 199);
  text-align: left;
  margin-bottom: 2rem;
}
.featured-projects__card-info ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  row-gap: 1.6rem;
}
.featured-projects__card-info ul li {
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  color: rgb(1, 14, 42);
  padding: 0.2rem 1.8rem;
  border-radius: 20px;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.featured-projects__card-info ul li:not(:last-child) {
  margin-right: 2rem;
}
.featured-projects__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.535);
}
.featured-projects__overlay.hidden {
  display: none;
}
.featured-projects__sidebar {
  position: fixed;
  overflow-y: scroll;
  z-index: 6;
  width: 50rem;
  height: 100vh;
  right: -100%;
  top: 0;
  bottom: 0;
  background-color: rgb(1, 14, 42);
  padding: 3rem;
  transition: right 0.4s ease;
}
@media (max-width: 62em) {
  .featured-projects__sidebar {
    width: 45%;
  }
}
@media (max-width: 48em) {
  .featured-projects__sidebar {
    width: 50%;
  }
}
@media (max-width: 36em) {
  .featured-projects__sidebar {
    width: 60%;
  }
}
.featured-projects__sidebar.active {
  right: 0;
}
.featured-projects__sidebar-btn {
  padding-bottom: 2.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.311);
}
.featured-projects__sidebar-btn .back-btn {
  display: none;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 2px dotted transparent;
  transition: outline-offset 0.2s ease;
  outline-offset: 0;
}
.featured-projects__sidebar-btn .back-btn:focus-visible {
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: 5px;
}
.featured-projects__sidebar.active .back-btn {
  display: flex;
}
.featured-projects__sidebar-btn .back-btn svg {
  width: 2.2rem;
  pointer-events: none;
}
.featured-projects__sidebar-btn .back-btn span {
  font-weight: 500;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  pointer-events: none;
}
.featured-projects__sidebar-title {
  margin-top: 2rem;
}
.featured-projects__sidebar-title h3 {
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3;
}
.featured-projects__sidebar-title span {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  color: rgb(197, 196, 199);
  text-align: left;
  text-transform: capitalize;
}
.featured-projects__sidebar-image {
  margin-top: 2rem;
  width: 100%;
  border-radius: 20px;
}
.featured-projects__sidebar-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.featured-projects__sidebar-about, .featured-projects__sidebar-tech {
  margin-top: 2rem;
}
.featured-projects__sidebar-about h4, .featured-projects__sidebar-tech h4 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.featured-projects__sidebar-tech h4 {
  margin-bottom: 1.2rem;
}
.featured-projects__sidebar-about p {
  color: rgb(197, 196, 199);
  font-size: 1.8rem;
  font-weight: 500;
}
.featured-projects__sidebar-tech ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.8rem;
}
.featured-projects__sidebar-tech ul li:not(:last-child) {
  margin-right: 2rem;
}
.featured-projects__sidebar-tech ul li {
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  color: rgb(1, 14, 42);
  padding: 0.2rem 1.2rem;
  border-radius: 20px;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.featured-projects__sidebar-links {
  margin-top: 2rem;
  margin-bottom: 7rem;
  display: flex;
  align-items: center;
  row-gap: 2.2rem;
}
@media (max-width: 48em) {
  .featured-projects__sidebar-links {
    flex-direction: column;
    align-items: flex-start;
  }
}
.featured-projects__sidebar-links a {
  align-items: center;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.4rem;
  display: none;
  align-items: center;
  outline: 2px dotted transparent;
  transition: outline-offset 0.2s ease;
  outline-offset: 0;
}
.featured-projects__sidebar.active .featured-projects__sidebar-links a {
  display: flex;
}
.featured-projects__sidebar-links a:first-child {
  margin-right: 4rem;
}
.featured-projects__sidebar-links a span {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}
.featured-projects__sidebar-links a span.first-l-lowercase {
  text-transform: lowercase;
}
.featured-projects__sidebar-links a svg {
  width: 2rem;
}
.featured-projects__sidebar-links a::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
  transition: width 0.4s ease;
}
@media (max-width: 62em) {
  .featured-projects__sidebar-links a::after {
    width: 100%;
  }
}
@media (max-width: 48em) {
  .featured-projects__sidebar-links a::after {
    width: 100%;
  }
}
.featured-projects__sidebar-links a:hover::after, .featured-projects__sidebar-links a:focus-visible::after {
  width: 100%;
}
.featured-projects__sidebar-links a:focus-visible {
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: 5px;
}

@-webkit-keyframes gradient {
  to {
    background-position: 200% center;
  }
}

@keyframes gradient {
  to {
    background-position: 200% center;
  }
}
.about {
  margin-top: 16rem;
}
.about__content p:first-child {
  font-weight: 600;
  font-size: 2.4rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1.8rem;
}
.about__content p:nth-child(2), .about__content p:last-child {
  font-weight: 400;
  font-size: 2.2rem;
  color: rgb(197, 196, 199);
  margin-bottom: 1.8rem;
}

.skills__container {
  border: 1px solid rgba(255, 255, 255, 0.311);
}
.skills ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  height: 18rem;
  min-height: 10rem;
}
@media (max-width: 48em) {
  .skills ul {
    flex-wrap: wrap;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
.skills ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
  height: 100%;
  position: relative;
}
@media (max-width: 48em) {
  .skills ul li {
    flex-basis: 50%;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-grow: 0;
    padding: 3rem 0;
  }
}
@media (max-width: 36em) {
  .skills ul li {
    font-size: 2rem;
    padding: 2rem 0;
  }
}
.skills ul li svg {
  width: 6.5rem;
  margin-top: 1.2rem;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.4s ease;
}
@media (max-width: 36em) {
  .skills ul li svg {
    width: 6rem;
  }
}
.skills ul li span {
  transition: transform 0.4s ease;
}
.skills ul li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.311);
}
@media (max-width: 48em) {
  .skills ul li:not(:last-child) {
    border-right: none;
  }
}
@media (max-width: 48em) {
  .skills ul li:last-child,
.skills ul li:nth-child(3) {
    border-top: 1px solid rgba(255, 255, 255, 0.311);
  }
}
@media (max-width: 48em) {
  .skills ul li:last-child::before,
.skills ul li:nth-child(2)::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.311);
    left: 0;
  }
}
.skills ul li:hover svg,
.skills ul li:hover span {
  transform: translateY(-1rem);
}

.projects {
  margin-top: 16rem;
}
.projects__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 2.6rem;
       column-gap: 2.6rem;
  margin: 7rem 0 5rem 0;
}
@media (max-width: 36em) {
  .projects__nav {
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }
}
.projects__nav button {
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  color: rgb(197, 196, 199);
  cursor: pointer;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.7rem;
  transition: color 0.4s ease, outline-offset 0.2s ease;
  outline-offset: 0;
  outline: 2px dotted transparent;
  padding: 0.7rem 2.6rem;
}
.projects__nav button:focus-visible {
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: 5px;
}
.projects__nav button.uppercase {
  text-transform: uppercase;
}
.projects__nav button.active {
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(20, 39, 80);
}
@media (max-width: 36em) {
  .projects__nav button.active {
    padding: 1rem 2.2rem;
  }
}
.projects__nav button:hover {
  color: rgb(255, 255, 255);
}
.projects__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}
@media (max-width: 62em) {
  .projects__container {
    grid-template-columns: 0.9fr;
  }
}
@media (max-width: 36em) {
  .projects__container {
    grid-template-columns: 1fr;
  }
}
.projects__card {
  border-radius: 20px;
  position: relative;
  height: 34rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(1, 5, 14, 0.229), 0 10px 10px rgba(1, 5, 14, 0.229);
  outline: 2px dotted transparent;
  transition: outline-offset 0.2s ease;
  outline-offset: 0;
  border: 1px solid rgba(255, 255, 255, 0.118);
}
@media (max-width: 36em) {
  .projects__card {
    height: 32rem;
  }
}
.projects__card:focus-visible {
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: 5px;
}
.projects__card.project, .projects__card.design, .projects__card.all-projects {
  transform: scale(0.9);
  opacity: 0;
  display: none;
  -webkit-animation: fade-in 1s cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: fade-in 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.projects__card.project.active, .projects__card.design.active, .projects__card.all-projects.active {
  transform: scale(1);
  opacity: 1;
  display: block;
}
@-webkit-keyframes fade-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    display: none;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    display: none;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.projects__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  transition: transform 0.5s ease;
  pointer-events: none;
}
.projects__card:hover img, .projects__card:focus-visible img {
  transform: scale(1.03);
}
@media (max-width: 62em) {
  .projects__card:hover img, .projects__card:focus-visible img {
    transform: scale(1);
  }
}
@media (max-width: 36em) {
  .projects__card:hover img, .projects__card:focus-visible img {
    transform: scale(1);
  }
}
@media (max-width: 62em) {
  .projects__card img {
    transform: scale(1);
  }
}
@media (max-width: 36em) {
  .projects__card img {
    transform: scale(1);
  }
}
.projects__card > div {
  background: linear-gradient(rgba(1, 14, 42, 0.092) 10%, rgba(1, 14, 42, 0.768) 80%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease;
  pointer-events: none;
}
.projects__card:hover > div, .projects__card:focus-visible > div {
  opacity: 1;
}
@media (max-width: 62em) {
  .projects__card > div.projects__card-info {
    opacity: 1;
  }
}
@media (max-width: 36em) {
  .projects__card > div.projects__card-info {
    opacity: 1;
  }
}
.projects__card-info {
  padding: 3rem;
  color: rgb(255, 255, 255);
}
@media (max-width: 36em) {
  .projects__card-info {
    padding: 2rem;
  }
}
.projects__card-info > div {
  position: relative;
}
.projects__card-info span.top-text {
  text-align: center;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
  transform: translateY(-3rem);
  transition: all 0.4s ease;
}
@media (max-width: 36em) {
  .projects__card-info span.top-text {
    transform: translateY(-2rem);
    opacity: 0;
  }
}
.projects__card:hover .projects__card-info span.top-text, .projects__card:focus-visible .projects__card-info span.top-text {
  transform: translateY(0);
}
@media (max-width: 62em) {
  .projects__card .projects__card-info span.top-text {
    transform: translateY(0);
  }
}
@media (max-width: 36em) {
  .projects__card .projects__card-info span.top-text {
    transform: translateY(0);
  }
}
.projects__card-info span::first-letter {
  text-transform: uppercase;
}
.projects__card-info > div {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  transform: translateY(2.5rem);
  transition: all 0.4s ease;
  opacity: 0;
}
@media (max-width: 36em) {
  .projects__card-info > div {
    bottom: 2rem;
    left: 2rem;
  }
}
.projects__card:hover .projects__card-info > div, .projects__card:focus-visible .projects__card-info > div {
  transform: translateY(0);
  opacity: 1;
}
@media (max-width: 62em) {
  .projects__card .projects__card-info > div {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 36em) {
  .projects__card .projects__card-info > div {
    transform: translateY(0);
    opacity: 1;
  }
}
.projects__card-info h3 {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.2;
}
@media (max-width: 36em) {
  .projects__card-info h3 {
    font-size: 2rem;
  }
}
.projects__card-info span.label {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgb(197, 196, 199);
  text-align: left;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.projects__card-info ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
.projects__card-info ul li {
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  color: rgb(1, 14, 42);
  padding: 0.2rem 1.8rem;
  border-radius: 20px;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.projects__card-info ul li:not(:last-child) {
  margin-right: 2rem;
}
.projects__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.535);
}
.projects__overlay.hidden {
  display: none;
}
.projects__sidebar {
  position: fixed;
  overflow-y: scroll;
  z-index: 6;
  width: 50rem;
  height: 100vh;
  right: -100%;
  top: 0;
  bottom: 0;
  background-color: rgb(1, 14, 42);
  padding: 3rem;
  transition: right 0.4s ease;
}
@media (max-width: 62em) {
  .projects__sidebar {
    width: 45%;
  }
}
@media (max-width: 48em) {
  .projects__sidebar {
    width: 50%;
  }
}
@media (max-width: 36em) {
  .projects__sidebar {
    width: 60%;
  }
}
.projects__sidebar.active {
  right: 0;
}
.projects__sidebar-btn {
  padding-bottom: 2.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.311);
}
.projects__sidebar-btn .back-btn {
  display: none;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 2px dotted transparent;
  transition: outline-offset 0.2s ease;
  outline-offset: 0;
}
.projects__sidebar-btn .back-btn:focus-visible {
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: 5px;
}
.projects__sidebar.active .back-btn {
  display: flex;
}
.projects__sidebar-btn .back-btn svg {
  width: 2.2rem;
  pointer-events: none;
}
.projects__sidebar-btn .back-btn span {
  font-weight: 400;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  pointer-events: none;
}
.projects__sidebar-title {
  margin-top: 2rem;
}
.projects__sidebar-title h3 {
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3;
}
.projects__sidebar-title span {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgb(197, 196, 199);
  text-align: left;
  text-transform: capitalize;
}
.projects__sidebar-image {
  margin-top: 2rem;
  border-radius: 20px;
  width: 95%;
}
.projects__sidebar-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.projects__sidebar-about, .projects__sidebar-tech {
  margin-top: 2rem;
}
.projects__sidebar-about h4, .projects__sidebar-tech h4 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.projects__sidebar-tech h4 {
  margin-bottom: 1.2rem;
}
.projects__sidebar-about p {
  color: rgb(197, 196, 199);
  font-size: 1.8rem;
}
.projects__sidebar-tech ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.8rem;
}
.projects__sidebar-tech ul li:not(:last-child) {
  margin-right: 2rem;
}
.projects__sidebar-tech ul li {
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  color: rgb(1, 14, 42);
  padding: 0.2rem 1.2rem;
  border-radius: 20px;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.projects__sidebar-links {
  margin-top: 2rem;
  margin-bottom: 7rem;
  display: flex;
  align-items: center;
  row-gap: 2.2rem;
}
@media (max-width: 48em) {
  .projects__sidebar-links {
    flex-direction: column;
    align-items: flex-start;
  }
}
.projects__sidebar-links a {
  display: none;
  align-items: center;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.4rem;
  outline: 2px dotted transparent;
  transition: outline-offset 0.2s ease;
  outline-offset: 0;
}
.projects__sidebar.active .projects__sidebar-links a {
  display: flex;
}
.projects__sidebar-links a:first-child {
  margin-right: 4rem;
}
.projects__sidebar-links a span {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}
.projects__sidebar-links a span.first-l-lowercase {
  text-transform: lowercase;
}
.projects__sidebar-links a svg {
  width: 2rem;
}
.projects__sidebar-links a::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
  transition: width 0.4s ease;
}
@media (max-width: 62em) {
  .projects__sidebar-links a::after {
    width: 100%;
  }
}
@media (max-width: 48em) {
  .projects__sidebar-links a::after {
    width: 100%;
  }
}
.projects__sidebar-links a:hover::after, .projects__sidebar-links a:focus-visible::after {
  width: 100%;
}
.projects__sidebar-links a:focus-visible {
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: 5px;
}

.contact {
  margin-top: 16rem;
}
.contact a {
  text-decoration: none;
  position: relative;
  outline: 2px dotted transparent;
  transition: all 0.2s ease;
  outline-offset: 0;
  color: rgb(255, 255, 255);
}
.contact a::after {
  position: absolute;
  content: "";
  background-color: rgb(255, 255, 255);
  bottom: -2px;
  height: 1px;
  width: 0%;
  left: 0;
  transform-origin: 0%;
  transition: width 0.4s ease;
}
.contact a:hover::after {
  width: 100%;
}
.contact a:focus-visible {
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: 2px;
}
.contact__form {
  width: 60rem;
}
@media (max-width: 48em) {
  .contact__form {
    width: 100%;
  }
}
.contact__input-group {
  margin-bottom: 4.5rem;
  position: relative;
}
.contact__input-group input {
  height: 5rem;
  width: calc(100% - 33px);
}
.contact__input-group textarea {
  height: 12rem;
  width: calc(100% - 33px);
}
.contact__input-group input, .contact__input-group textarea {
  background-color: transparent;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0.311);
  padding: 0.2rem 1.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-family: inherit;
  border-width: 1px;
  font-family: "Manrope", sans-serif;
  transition: outline 0.4s ease;
}
.contact__input-group input::-moz-placeholder, .contact__input-group textarea::-moz-placeholder {
  font-weight: 500;
  color: rgb(197, 196, 199);
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  text-transform: capitalize;
  -moz-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}
.contact__input-group input:-ms-input-placeholder, .contact__input-group textarea:-ms-input-placeholder {
  font-weight: 500;
  color: rgb(197, 196, 199);
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  text-transform: capitalize;
  -ms-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}
.contact__input-group input::placeholder, .contact__input-group textarea::placeholder {
  font-weight: 500;
  color: rgb(197, 196, 199);
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  text-transform: capitalize;
  transition: transform 0.2s ease;
}
.contact__input-group input:hover, .contact__input-group textarea:hover {
  outline: 1px solid rgb(255, 255, 255);
}
.contact__input-group input:focus, .contact__input-group input:focus-visible, .contact__input-group textarea:focus, .contact__input-group textarea:focus-visible {
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  outline: none;
  background-color: rgb(1, 14, 42);
}
.contact__input-group textarea {
  padding-top: 1rem;
  padding-bottom: 1rem;
  resize: none;
}
.contact__input-group input.error, .contact__input-group textarea.error {
  border-color: rgb(243, 39, 39);
}
.contact__input-group input.error:hover, .contact__input-group textarea.error:hover {
  outline: unset;
}
.contact__btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  color: rgb(1, 14, 42);
  text-transform: capitalize;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border: none;
  outline: 2px dotted transparent;
}
.contact__btn:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 8px rgba(255, 255, 255, 0.103), 0 10px 10px rgba(255, 255, 255, 0.134);
}
.contact__btn:focus-visible {
  transform: scale(1.03);
  box-shadow: 0 3px 8px rgba(255, 255, 255, 0.103), 0 10px 10px rgba(255, 255, 255, 0.134);
  outline: 2px dotted rgb(255, 255, 255);
  outline-offset: 8px;
}
.contact__btn svg {
  width: 1.8rem;
}
.contact__input-group span.error {
  color: rgb(243, 39, 39);
  display: inline-block;
  position: absolute;
  left: 0.2rem;
  bottom: -2.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  opacity: 0;
}
.contact__input-group span.error.active {
  opacity: 1;
}

body#body.light {
  background: unset;
  background: rgb(255, 255, 255);
  background-repeat: unset;
  background-size: unset;
}
body#body.light .section-title h1 {
  color: rgb(1, 14, 42);
  -webkit-animation: unset;
          animation: unset;
}
body#body.light .section-title p {
  color: rgba(1, 14, 42, 0.771);
}
body#body.light .section-title p b {
  color: rgb(1, 14, 42);
}
body#body.light .section-subtitle h2 {
  color: rgb(1, 14, 42);
}
body#body.light .nav {
  border-bottom: 1px solid rgba(180, 180, 180, 0.926);
  background-color: rgb(255, 255, 255);
}
body#body.light .nav__logo {
  color: rgb(1, 14, 42);
}
body#body.light .nav__list a {
  text-decoration: none;
  color: rgba(1, 14, 42, 0.771);
}
body#body.light .nav__list a.active {
  color: rgb(1, 14, 42);
}
body#body.light .nav__list a.active::after {
  background-color: rgb(1, 14, 42);
}
body#body.light .nav__list a:hover {
  color: rgb(1, 14, 42);
}
body#body.light .nav__btn span {
  background-color: rgb(1, 14, 42);
}
body#body.light .nav__btn.active {
  border: 1px solid rgb(1, 14, 42);
}
body#body.light .nav__mobile {
  background-color: rgb(255, 255, 255);
}
body#body.light .nav__mobile ul a {
  color: rgba(1, 14, 42, 0.771);
}
body#body.light .nav__mobile a.active {
  color: rgb(1, 14, 42);
}
body#body.light .nav__mobile a.active::after {
  background-color: rgb(1, 14, 42);
}
body#body.light .nav__mobile a:hover {
  color: rgb(1, 14, 42);
}
body#body.light .nav__logo, body#body.light .nav__list a, body#body.light .nav__mobile ul a, body#body.light .nav__mobile ul button, body#body.light .nav__list button, body#body.light .nav__btn {
  outline: 2px dotted transparent;
  transition: all 0.2s ease;
  outline-offset: 0;
}
body#body.light .nav__logo:focus-visible, body#body.light .nav__list a:focus-visible, body#body.light .nav__btn:focus-visible, body#body.light .nav__mobile button:focus-visible, body#body.light .nav__list button:focus-visible, body#body.light .nav__mobile a:focus-visible {
  outline: 2px dashed rgb(1, 14, 42);
  outline-offset: 5px;
}
body#body.light .hero h1 {
  background: rgb(1, 14, 42); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(1, 14, 42), rgb(255, 255, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% auto;
  -webkit-animation: gradient 3s linear infinite;
          animation: gradient 3s linear infinite;
}
body#body.light .hero p {
  color: rgba(1, 14, 42, 0.771);
}
body#body.light .hero a {
  border: 1px solid rgb(1, 14, 42);
  color: rgb(1, 14, 42);
}
body#body.light .hero a svg path {
  fill: rgb(1, 14, 42);
  transition: all 0.4s ease;
}
body#body.light .hero a:hover,
body#body.light .hero a:focus-visible {
  color: rgb(255, 255, 255);
  border-color: rgb(1, 14, 42);
  background-color: rgb(1, 14, 42);
}
body#body.light .hero a:hover svg path,
body#body.light .hero a:focus-visible svg path {
  fill: rgb(255, 255, 255);
}
body#body.light .featured-projects h2 {
  color: rgb(1, 14, 42);
}
body#body.light .featured-projects-title span {
  background-color: rgba(180, 180, 180, 0.926);
}
body#body.light .featured-projects__card {
  border: unset;
}
body#body.light .featured-projects__card:focus-visible {
  outline: 2px dashed rgb(1, 14, 42);
  outline-offset: 5px;
}
body#body.light .featured-projects__card > div {
  background: linear-gradient(rgba(1, 14, 42, 0.092) 10%, rgba(1, 14, 42, 0.768) 80%);
}
body#body.light .featured-projects__sidebar {
  background-color: rgb(255, 255, 255);
}
body#body.light .featured-projects__sidebar-btn {
  border-bottom: 1px solid rgba(180, 180, 180, 0.926);
}
body#body.light .featured-projects__sidebar-btn .back-btn:focus-visible {
  outline: 2px dashed rgb(1, 14, 42);
}
body#body.light .featured-projects__sidebar-btn .back-btn span {
  color: rgb(1, 14, 42);
}
body#body.light .featured-projects__sidebar-btn .back-btn svg path {
  fill: rgb(1, 14, 42);
}
body#body.light .featured-projects__sidebar-title h3 {
  color: rgb(1, 14, 42);
}
body#body.light .featured-projects__sidebar-title span {
  color: rgba(1, 14, 42, 0.771);
}
body#body.light .featured-projects__sidebar-about h4, body#body.light .featured-projects__sidebar-tech h4 {
  color: rgb(1, 14, 42);
}
body#body.light .featured-projects__sidebar-about p {
  color: rgba(1, 14, 42, 0.771);
  font-size: 1.8rem;
}
body#body.light .featured-projects__sidebar-tech ul li {
  background-color: rgb(1, 14, 42);
  color: rgb(255, 255, 255);
}
body#body.light .featured-projects__sidebar-links a svg path {
  fill: rgb(1, 14, 42);
}
body#body.light .featured-projects__sidebar-links a span {
  color: rgb(1, 14, 42);
}
body#body.light .featured-projects__sidebar-links a::after {
  background-color: rgb(1, 14, 42);
}
body#body.light .featured-projects__sidebar-links a:focus-visible {
  outline: 2px dashed rgb(1, 14, 42);
}
body#body.light .scroll-top-btn {
  background-color: rgb(1, 14, 42);
}
body#body.light .scroll-top-btn svg path {
  fill: rgb(255, 255, 255);
}
body#body.light .scroll-top-btn:focus-visible {
  outline: 2px dashed rgb(1, 14, 42);
}
body#body.light .about__content p:first-child {
  color: rgb(1, 14, 42);
}
body#body.light .about__content p:nth-child(2), body#body.light .about__content p:last-child {
  font-weight: 500;
  color: rgba(1, 14, 42, 0.771);
}
body#body.light .skills__container {
  border: 1px solid rgba(180, 180, 180, 0.926);
}
body#body.light .skills ul li {
  color: rgb(1, 14, 42);
}
body#body.light .skills ul li:not(:last-child) {
  border-right: 1px solid rgba(180, 180, 180, 0.926);
}
@media (max-width: 48em) {
  body#body.light .skills ul li:not(:last-child) {
    border-right: none;
  }
}
body#body.light .skills__container ul li svg path {
  fill: rgb(1, 14, 42);
}
@media (max-width: 48em) {
  body#body.light .skills ul li:last-child,
body#body.light .skills ul li:nth-child(3) {
    border-top: 1px solid rgba(180, 180, 180, 0.926);
  }
}
@media (max-width: 48em) {
  body#body.light .skills ul li:last-child::before,
body#body.light .skills ul li:nth-child(2)::before {
    background-color: rgba(180, 180, 180, 0.926);
  }
}
body#body.light .projects__nav button {
  color: rgba(1, 14, 42, 0.771);
  font-weight: 500;
}
body#body.light .projects__nav button:focus-visible {
  outline: 2px dashed rgb(1, 14, 42);
}
body#body.light .projects__nav button.active {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 39, 80);
}
body#body.light .projects__nav button:hover {
  color: rgb(1, 14, 42);
}
body#body.light .projects__nav button.active:hover {
  color: rgb(255, 255, 255);
}
body#body.light .projects__card {
  border: unset;
}
body#body.light .projects__card:focus-visible {
  outline: 2px dashed rgb(1, 14, 42);
  outline-offset: 5px;
}
body#body.light .projects__card > div {
  background: linear-gradient(rgba(1, 14, 42, 0.092) 10%, rgba(1, 14, 42, 0.768) 80%);
}
body#body.light .projects__sidebar {
  background-color: rgb(255, 255, 255);
}
body#body.light .projects__sidebar-btn {
  border-bottom: 1px solid rgba(180, 180, 180, 0.926);
}
body#body.light .projects__sidebar-btn .back-btn:focus-visible {
  outline: 2px dashed rgb(1, 14, 42);
  outline-offset: 5px;
}
body#body.light .projects__sidebar-btn .back-btn svg path {
  fill: rgb(1, 14, 42);
}
body#body.light .projects__sidebar-btn .back-btn span {
  font-weight: 500;
  color: rgb(1, 14, 42);
}
body#body.light .projects__sidebar-title h3 {
  color: rgb(1, 14, 42);
}
body#body.light .projects__sidebar-title span {
  font-weight: 500;
  color: rgba(1, 14, 42, 0.771);
}
body#body.light .projects__sidebar-about h4, body#body.light .projects__sidebar-tech h4 {
  color: rgb(1, 14, 42);
}
body#body.light .projects__sidebar-about p {
  color: rgba(1, 14, 42, 0.771);
  font-weight: 500;
}
body#body.light .projects__sidebar-tech ul li {
  background-color: rgb(1, 14, 42);
  color: rgb(255, 255, 255);
}
body#body.light .projects__sidebar-links a svg path {
  fill: rgb(1, 14, 42);
}
body#body.light .projects__sidebar-links a span {
  color: rgb(1, 14, 42);
}
body#body.light .projects__sidebar-links a::after {
  background-color: rgb(1, 14, 42);
}
body#body.light .projects__sidebar-links a:focus-visible {
  outline: 2px dashed rgb(1, 14, 42);
}
body#body.light .contact a {
  color: rgb(1, 14, 42);
}
body#body.light .contact a::after {
  background-color: rgb(1, 14, 42);
}
body#body.light .contact a:focus-visible {
  outline-color: rgb(1, 14, 42);
}
body#body.light .contact__input-group input::-moz-placeholder, body#body.light .contact__input-group textarea::-moz-placeholder {
  color: rgba(1, 14, 42, 0.771);
}
body#body.light .contact__input-group input:-ms-input-placeholder, body#body.light .contact__input-group textarea:-ms-input-placeholder {
  color: rgba(1, 14, 42, 0.771);
}
body#body.light .contact__input-group input::placeholder, body#body.light .contact__input-group textarea::placeholder {
  color: rgba(1, 14, 42, 0.771);
}
body#body.light .contact__input-group input, body#body.light .contact__input-group textarea {
  border-color: rgba(1, 14, 42, 0.771);
  color: rgb(1, 14, 42);
  background-color: rgb(255, 255, 255);
}
body#body.light .contact__input-group input:hover, body#body.light .contact__input-group textarea:hover {
  outline: 1px solid rgb(1, 14, 42);
}
body#body.light .contact__input-group input:focus, body#body.light .contact__input-group input:focus-visible, body#body.light .contact__input-group textarea:focus, body#body.light .contact__input-group textarea:focus-visible {
  border-color: rgb(1, 14, 42);
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(1, 14, 42);
}
body#body.light .contact__input-group input.error, body#body.light .contact__input-group textarea.error {
  outline: none;
  border-color: rgb(224, 28, 28);
}
body#body.light .contact__btn {
  color: rgb(255, 255, 255);
  background-color: rgb(1, 14, 42);
}
body#body.light .contact__btn:hover {
  box-shadow: 0 3px 8px rgba(30, 30, 30, 0.245), 0 10px 10px rgba(21, 21, 21, 0.283);
}
body#body.light .contact__btn svg path {
  fill: rgb(255, 255, 255);
}
body#body.light .contact__btn:focus-visible {
  transform: scale(1.03);
  box-shadow: 0 3px 8px rgba(42, 42, 42, 0.103), 0 10px 10px rgba(29, 29, 29, 0.134);
  outline: 2px dotted rgb(1, 14, 42);
}
body#body.light .contact__input-group span.error {
  border-color: rgb(224, 28, 28);
  font-weight: 400;
}
body#body.light .footer {
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgba(180, 180, 180, 0.926);
}
body#body.light .footer p {
  color: rgb(1, 14, 42);
}
body#body.light .footer ul a:focus-visible {
  outline: 2px dashed rgb(1, 14, 42);
}
body#body.light .footer ul a svg path {
  fill: rgb(1, 14, 42);
}