.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 7rem;

  @include respond-to(xl) {
    padding: 0 6rem;
  }

  @include respond-to(lg) {
    padding: 0 4rem;
  }

  @include respond-to(md) {
    padding: 0 3rem;
  }
}

.section-padding {
  padding-top: 15rem;
}

.section-title {
  margin-bottom: 4.5rem;
}

.section-title h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3.8rem;
  letter-spacing: 1px;
  letter-spacing: 1px;
  background: $color-light; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $color-light,
    rgb(29, 59, 123),
    $color-light
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $color-light,
    rgb(29, 59, 123),
    $color-light
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradient 3s linear infinite;

  @include respond-to(sm) {
    font-size: 3.4rem;
  }
}

.section-subtitle {
  margin-bottom: 3rem;
}

.section-subtitle h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.2rem;
  letter-spacing: 1px;

  @include respond-to(sm) {
    font-size: 3rem;
  }
}

.section-title p {
  font-weight: 400;
  font-size: 2rem;
  color: $color-light-secondary;

  @include respond-to(sm) {
    font-size: 1.8rem;
  }
}

.section-title p b {
  color: $color-light;
}

ul li.uppercase {
  text-transform: uppercase;
}

ul li.capitalize {
  text-transform: capitalize;
}
