// colors
$color-light: rgba(255, 255, 255, 1);
$color-light-secondary: rgb(197, 196, 199);
$color-dark-blue: rgba(1, 14, 42, 1);
$color-light-blue: rgba(20, 39, 80, 1);
$color-light-border: rgba(255, 255, 255, 0.311);

// colors (dark theme)
$color-dark-blue-secondary: rgba(1, 14, 42, 0.694);
$color-light-border-secondary: rgba(180, 180, 180, 0.926);
