.contact {
  margin-top: 16rem;

  a {
    text-decoration: none;
    position: relative;
    outline: 2px dotted transparent;
    transition: all 0.2s ease;
    outline-offset: 0;
  }

  a::after {
    position: absolute;
    content: "";
    background-color: $color-light;
    bottom: -2px;
    height: 1px;
    width: 0%;
    left: 0;
    transform-origin: 0%;
    transition: width 0.4s ease;
  }

  a:hover::after {
    width: 100%;
  }

  a:focus-visible {
    outline: 2px dashed $color-light;
    outline-offset: 2px;
  }

  &__form {
    width: 60rem;

    @include respond-to(md) {
      width: 100%;
    }
  }

  &__input-group {
    margin-bottom: 4.5rem;
    position: relative;
  }

  &__input-group input {
    height: 5rem;
    width: calc(100% - 33px);
  }

  &__input-group textarea {
    height: 12rem;
    width: calc(100% - 33px);
  }

  &__input-group input,
  &__input-group textarea {
    background-color: transparent;
    border-radius: 10px;
    border-color: $color-light-border;
    padding: 0.2rem 1.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-light;
    font-family: inherit;
    border-width: 1px;
    font-family: "Manrope", sans-serif;
    transition: outline 0.4s ease;
  }

  &__input-group input::placeholder,
  &__input-group textarea::placeholder {
    font-weight: 500;
    color: $color-light-secondary;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    text-transform: capitalize;
    transition: transform 0.2s ease;
  }

  &__input-group input:hover,
  &__input-group textarea:hover {
    outline: 1px solid $color-light;
  }

  &__input-group input:focus,
  &__input-group input:focus-visible,
  &__input-group textarea:focus,
  &__input-group textarea:focus-visible {
    border-color: $color-light;
    border-width: 1px;
    outline: none;
    background-color: $color-dark-blue;
  }

  &__input-group textarea {
    padding-top: 1rem;
    padding-bottom: 1rem;
    resize: none;
  }

  &__input-group input.error,
  &__input-group textarea.error {
    border-color: rgb(243, 39, 39);
  }

  &__input-group input.error:hover,
  &__input-group textarea.error:hover {
    outline: unset;
  }

  &__btn {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    padding: 1.2rem 2.4rem;
    border-radius: 10px;
    color: $color-dark-blue;
    text-transform: capitalize;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border: none;
    outline: 2px dotted transparent;
  }

  &__btn:hover {
    transform: scale(1.03);
    box-shadow: 0 3px 8px rgba(255, 255, 255, 0.103),
      0 10px 10px rgba(255, 255, 255, 0.134);
  }

  &__btn:focus-visible {
    transform: scale(1.03);
    box-shadow: 0 3px 8px rgba(255, 255, 255, 0.103),
      0 10px 10px rgba(255, 255, 255, 0.134);
    outline: 2px dotted $color-light;
    outline-offset: 8px;
  }

  &__btn svg {
    width: 1.8rem;
  }

  &__input-group span.error {
    color: rgb(243, 39, 39);
    display: inline-block;
    position: absolute;
    left: 0.2rem;
    bottom: -2.8rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    opacity: 0;
  }

  &__input-group span.error.active {
    opacity: 1;
  }
}
