.footer {
  margin-top: 25rem;
  height: 9rem;
  background-color: rgb(4, 12, 30);
  letter-spacing: 1px;

  @include respond-to(sm) {
    height: unset;
  }

  &-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 3.5rem;

    @include respond-to(sm) {
      flex-direction: column-reverse;
      padding: 4rem 0;
    }
  }

  p {
    color: $color-light;
    font-weight: 400;
    font-size: 1.8rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  ul a {
    text-decoration: none;
    border: 1px solid $color-light-border;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    transition: background-color 0.4s ease;
  }

  ul a img {
    width: 2rem;
    padding: 0.2rem;
  }

  ul a.facebook:hover {
    background-color: rgba(64, 100, 172, 1);
  }

  ul a.github:hover {
    background-color: rgba(22, 21, 21, 1);
  }

  ul a.linkedin:hover {
    background-color: rgba(0, 109, 166, 1);
  }

  ul li:not(:last-child) {
    margin-right: 3.2rem;

    @include respond-to(sm) {
      margin-right: 5rem;
    }
  }
}
