// SCROLL TO TOP BUTTON
.scroll-top-btn {
  background-color: $color-light;
  border: none;
  position: fixed;
  cursor: pointer;
  right: -6rem;
  bottom: 6rem;
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: right 0.4s ease, outline-offset 0.2s ease;

  &:focus-visible {
    outline: 2px dashed $color-light;
    outline-offset: 5px;
  }

  svg {
    width: 50%;
    height: 50%;
  }

  &.reveal {
    right: 3rem;
  }
}
